section > header {
	background-color: #B1C635;
	border-bottom: 3px solid #96AA39;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.text.center {
    text-align: center;
}

.text.bold{
	font-weight: 700;
}

body .text.color.theme {
    color: #007db5;
}

h1{font-size:4.6em}


.margin_none{
    margin: 0px;
}

.margin{
	margin: 10px;
}

.margin2x{
	margin: 20px;
}

.margin.top{
	margin: 10px;
}
.margin.top{
	margin: 10px;
}
.margin.top{
	margin: 10px;
}
.margin.top{
	margin: 10px;
}


.padding{
	padding: 10px;
}

.padding.bottom
{
    padding-bottom: 10px
}

.padding.right
{
    padding-right: 10px
}

.padding.left
{
    padding-left: 10px
}

.padding.top
{
	padding-top: 10px;
}


section .list li.warning {
    -webkit-box-shadow: inset 4px 0 #edba22;
    -moz-box-shadow: inset 4px 0 #edba22;
    -ms-box-shadow: inset 4px 0 #edba22;
    -o-box-shadow: inset 4px 0 #edba22;
    box-shadow: inset 4px 0 #edba22;
}

header a.active{
    background: #96AA39;

}

.notification .window:not(.growl) button, .notification .window:not(.growl) .button {
    color: #FFFFFF !important;
    border: 2px solid #96AA39 !important;
    background-color: #FFFFFF !important;
}

.color.accept{
    background-color: #B1C635 !important;
}

.color.cancel{
    background-color: #E84849 !important;
}

.color.warning{
    background-color: #F9A72F !important;
}

.border.accept{
    border: 2px solid #B1C635;
}

.border.cancel{
    border: 2px solid #E84849;
}

.border.warning{
    border: 2px solid #F9A72F;
}